@mixin btn {
  .btn {
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 170px;
    font-size: 14px;
    font-family: Inter, sans-serif;

    color: $button-text-blue;
    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
}